/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */

@import 'mixins/mixin';
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,900);

// Mixin for include fonts
@include font-face("Gilroy", '../fonts/Gilroy-Regular', normal, normal);
@include font-face("Gilroy", '../fonts/Gilroy-Light', 300, normal);
@include font-face("Gilroy", '../fonts/Gilroy-ExtraBold', 900, normal);

 // Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/template';
@import 'core/header';
@import 'core/footer';
@import 'core/form';
@import 'core/grid';
@import 'core/soc';
@import 'core/breadcrumb';
@import 'core/pagination';
@import 'core/buttons';
@import 'core/video';
@import 'core/icon';
@import 'core/navbar';
@import 'core/logo';
@import 'core/phone';
@import 'core/adress';

@import 'vendor/slick';
@import 'vendor/modal';


@import 'core/link';
@import 'core/topSlider';
@import 'core/title';
@import 'core/product';
@import 'core/production';
@import 'core/category';

@import 'core/howOrder';
@import 'core/deliveryAndPay';
@import 'core/productFilterTabs';
@import 'core/viewMore';
@import 'core/topContrast';

@import 'core/ivan';

@import 'core/accordeon';
@import 'core/paymentItem';
@import 'core/backLink';
@import 'core/shopItem';
@import 'core/shopSlider';
@import 'core/shopThumbs';
@import 'core/typoText';
@import 'core/alfabetList';
@import 'core/couriers';
@import 'core/deliveryGrid';
@import 'core/guarantList';
@import 'core/cart';
@import 'core/install';
@import 'core/sales';
@import 'core/individual';
@import 'core/about';
@import 'core/miniTitle';
@import 'core/calc';
@import 'core/map';
@import 'core/catalogueColor';
@import 'core/catalogueItem';
@import 'core/catalogueForm';
@import 'core/catalogueSale';
@import 'core/catalogueImg';
@import 'core/orderNum';
@import 'core/more';
@import 'core/backBtn';
@import 'core/parameters';
@import 'core/textCenter';
@import 'core/mobileHideVisible';

.is_descktop {
	@media (max-width: 767px) {
		display: none;	    
	}
}

.is_mobile {
	@media (min-width: 768px) {
	    display: none;
	}
}


.productTitle {
	padding: 0 26px;
	margin-bottom: 42px;
	@extend %clear_a;
	&__logo {
		display: inline-block;
		vertical-align: middle;
		&Wrap {
			float: left;
			font-size: 0;
			letter-spacing: -1px;
			img {
				margin-right: 34px;
			}
		}
	}
	&__preview {
		display: inline-block;
		vertical-align: middle;
	}
	&__pag {
		padding-top: 2px;
	}
	&__back {
		@extend %link;
		font-size: 18px;
		margin-right: 16px;
		+ .productTitle__back {
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 43px;
				border-top: 1px solid;
				margin-right: 21px;
			}
		}
	}
	&__name {
		font-weight: 600;
		font-size: 45px;
		line-height: 1.1;
		letter-spacing: 0.1em;
		margin-top: 14px;
		margin: 0.67em 0;
		&Wrap {
			overflow: hidden;

		}
	}
	@media (max-width: 991px) {
		padding: 0;
	    &__logo {
	    	&Wrap {
	    		float: none;
	    		margin-bottom: 20px;
	    		// max-width: 30%;
	    		img {
	    			max-height: 60px;
	    			margin-right: 25px;
	    		}
	    	}
	    }
	    &__name {
	    	font-size: 30px;
	    }
	}
	@media (max-width: 767px) {
		margin-bottom: 8px;
	    &__logo {
	    	// max-height: 35px;
	    	&Wrap {
	    		margin-bottom: 16px;
	    		img {
	    			display: block;
	    			max-height: 35px;
	    			margin-right: 15px;
	    		}
	    	}
	    }
	    &__preview {

	    }
	    &__name {
			font-size: 19px;
			line-height: 1.25;
			margin: 0.97em 0;
	    }
	}
}



.productFilter {
	margin-left: -14px;
	max-width: 1129px;
	position: relative;
	
	@extend %clear_a;
	&__item {
		padding-left: 14px;
		margin-bottom: 17px;
		float: left;
		width: 20%;
		&:nth-child(1) {
			// .productDrop {
			// 	&:before {
			// 		content: '';
			// 		position: absolute;
			// 		display: block;
			// 		width: 18.8%;
			// 		height: 3px;
			// 		background-color: #fff;
			// 		top: -1px;
			// 		left: 0;
			// 	}
			// }
		}
		@media (max-width: 991px) {
		    width: 25%;
		    font-size: 12px;
		}
	}
	&__drop {
		border: 1px solid #b8b8b8;
		cursor: pointer;
		background-color: #fff;
		// background-color: #ec3438;
		color: #5d5d5d;
		padding: 19px 24px;
		padding-right: 44px;
		position: relative;
		// white-space: nowrap;
		// overflow: hidden;
		// text-overflow: ellipsis;
		letter-spacing: .1em;
		span {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			display: block;
			
		}
		&:after {
			content: '';
			position: absolute;
			display: block;
			right: 19px;
			top: 50%;
			margin-top: -4px;
			width: 15px;
			height: 8px;
			background: url('../img/caret.svg') no-repeat center center;
			background-size: contain;
		}
		&.open {
			z-index: 11;
			color: #ec3438;
			&:before {
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				height: 4px;
				background-color: #fff;
				bottom: -2px;
				left: 0;
				z-index: 11;
			}
			&:after {
				transform: rotate(180deg);
			}
		}
		@media (max-width: 991px) {
			padding: 15px 16px;
		    &:after {
		    	right: 10px;
		    }
		}
		@media (max-width: 767px) {
		    &:after {
		    	width: 10px;
		    }
		}
	}
	&__check {
		padding: 22px;
		color: #5d5d5d;
		label {
			cursor: pointer;
			letter-spacing: .1em;
		}

		[type=checkbox] {
			margin-right: 6px;
			border: 2px solid #252525;
			width: 23px;
			height: 21px;
			box-sizing: border-box;
			
			&:before {
				font-size: 28px;
				// content: '';
			}
			&:checked {
				border: 2px solid #ec3438;
				background-color: #ec3438;
				&:before {
					content: '';
					
				}
				+ label {
					color: #ec3438;
				}
			}
			@media (max-width: 991px) {
				width: 17px;
				height: 15px;
			}
		}
		@media (max-width: 991px) {
		    padding: 15px 16px;
		}
		@media (max-width: 767px) {
		    padding: 13px 0 13px 16px;
		}
	}
	&__btn {
		display: none;
	}
	@media (max-width: 767px) {
		margin-left: 0;
	    &__item {
	    	width: 50%;
	    	// float: right;
	    	padding-left: 0;
	    }
	    &__drop {
	    	padding: 12px 26px 12px 16px;
	    	font-size: 10px;
	    }
	    &__check {

	    }
	    &__btn {
	    	display: block;
	    	position: fixed;
	    	left: 0;
	    	bottom: 20px;
	    	width: 100%;
	    	text-align: center;
	    	.btn {
	    		padding: 12px 30px;
	    		font-size: 12px;
				max-width: 230px;
				margin: auto;
				display: block;
				margin-bottom: 0;
	    		&:after {
	    			content: '';
	    			width: 14px;
	    			height: 10px;
	    			margin-left: 9px;
	    			background: url('../img/chart.png') no-repeat center center;
	    			background-size: contain;
	    			display: inline-block;
	    			
	    		}
	    	}
	    }
	}
}

.productDrop {
	display: none;
	position: absolute;
	max-width: 100%;
	background-color: #fff;
	border: 1px solid #b8b8b8;
	z-index: 10;
	margin-top: -1px;
	min-width: 18.75%;
	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	display: block;
	// 	width: 18.8%;
	// 	height: 3px;
	// 	background-color: #fff;
	// 	top: -1px;
	// 	left: 0;
	// }
	@media (min-width: 768px) {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
	@media (max-width: 991px) {
	    min-width: 23%;
	}
	@media (max-width: 767px) {
	    min-width: 50%;
	}
	&_full {
		// width: 100%;
		left: 14px;
		right: 0;
	}
	&.open {
		display: block;
	}
	&__list {
		// margin-left: -30px;
		&:not(.productDrop__list_line) {
			@include flex();

			// justify-content: space-between;
			text-align: center;
			// @include browser("not-flex") {
			// 	text-align: justify;
			// 	&:after {
			// 		content: '';
			// 		display: inline-block;
			// 		width: 100%;
			// 	}
			// 	> div {
			// 		text-align: center;
			// 	}
			// }
		}
		
		&_line {
			
		}
	}
	&__item {
		padding: 17px 24px 20px;
		text-decoration: none;
		vertical-align: top;
		
	}
	&__img {
		margin-bottom: 10px;
	}
	&__link {
		@extend %link;
		&:hover {
			color: #ec3438;
			border-bottom-color: transparent;
			
		}
	}
	@media (max-width: 767px) {
	    &__item {
	    	font-size: 10px;
	    	padding: 10px 17px 15px;
	    }
	}
}

.productFilter {
	margin: 0 0 21px;
	@media (max-width: 767px) {
	    margin-bottom: 21px;
	}
}

%mobileNavList {
	margin-bottom: 40px;
}
%mobileNavItem {
	margin-bottom: 17px;
}
%mobileNavLink {
	font-size: 13px;
	color: #252525;
	text-decoration: none;
	letter-spacing: .1em;
}
.mobileNav {
	left: -100%;
	position: fixed;
	width: 100%;
	top: -100%;
	background-color: #fff;
	padding-top: 76px;
	transition: .5s;
	a {
		&:hover {
			color: #ec3438;
		}
	}
	&.open {
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 50;
		box-shadow: 0 0 15px rgba(#000, .1);
	}
	&__wrap {
		padding: 0 32px;
		max-height: 100%;
		overflow-y: auto;
	}
	&__filter {
		@extend %mobileNavList;
		.productFilter {
			&__item {
				width: 100%;
				float: none;
			}
			&__drop {
				border: none;
				padding: 0;
				@extend %mobileNavLink;
				&:after {
					display: none;
					
				}
				&.open {
					margin-bottom: 11px;
				}
			}
		}
		.productDrop {
			border: none;
			position: static;
			margin-left: -10px;
			max-width: none;
			&__list {
				@include flex();
				&_line {
					.productDrop__link {
						font-size: 13px;

					}
				}
			}
			&__item {
				padding-left: 10px;
				width: 50%;
				padding-bottom: 10px;
			}
		}
	}
	&__title {
		color: #ec3438;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: .15em;
		margin-bottom: 28px;
	}
	&__list {
		list-style: none;
		padding: 0;
		@extend %mobileNavList;
	}
	&__item {
		@extend %mobileNavItem;
	}
	&__link {
		@extend %mobileNavLink;
	}
	&__foot {
		@extend %mobileNavList;
		&Item {
			// @extend %mobileNavItem;
			margin-bottom: 10px;
		}
		&Link {
			@extend %mobileNavLink;
			font-size: 10px;
		}
	}
}


.navbar-open {
	overflow: hidden;
	.header {
		position: fixed;
		z-index: 51;
		padding-top: 30px;
		width: 100%;
		box-shadow: none;
		
		&__left {
			display: none;
			
		}
		&_contrast {
			.navbar {
				&__toggle {
					color: #1d1d1d;
				}
				&__link {
					color: #1d1d1d;
				}
			}
			.soc {
				a {
					color: #1d1d1d;
				}
				[class*="icon"] {
					color: #1d1d1d;
				}
				.icon-whatsapp {
					color: #4da735;
				}
			}
			.phone {
				color: #1d1d1d;
			}
			.logo {
				// background-image: url('../img/logo_contrast.svg');
			}
			.cart {
				color: #1d1d1d;
				&__count {
					// color: $main_color;
					// background-color: #fff;
				}
			}
		}
	}
}

.catalog__list {
	padding-top: 5px;
	@media (max-width: 767px) {
	    
		.product {
			&__item {

			}
			&__img {
				float: left;
				width: 69%;
				margin-bottom: 0;
				margin-left: -10%;
			}
			&__text {
				overflow: hidden;
				margin-bottom: 18px;
			}
			&__action {
				overflow: hidden;
			}
			&__price {
				float: none;
				width: auto;
				margin-bottom: 18px;
			}
			&__btn {
				float: none;
				width: auto;
				.btn {
					background-color: #ea2126;
				    border-color: #ea2126;
				    color: #ffffff;
				}
			}
		}
	}
}

.plus,.minus {
	width: 27px;
	height: 27px;
	background-color: #efefef;
	border-radius: 50%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	margin-right: -1px;
	margin-top: 5px;
	&:before,&:after {
		content: '';
		width: 14px;
		height: 1px;
		background-color: #5d5d5d;
		position: absolute;
		top: 50%;
		left: 7px;
	}
	&:before {
	}
	@media (max-width: 767px) {
	    width: 20px;
	    height: 20px;
	    &:before,&:after {
	    	width: 10px;
	    	left: 5px;
	    }
	    &:before {
	    }
	    &:after {
	    }
	}
}
.plus {
	&:after {
		transform: rotate(90deg);
	}
}


.addCart {
	&__line {
		@extend %clear_a;
	}
	&__row {
		font-size: 18px;
		letter-spacing: .1em;
		margin-bottom: 21px;
		// @include flex();
		display: table;
		width: 100%;
		@extend %clear_a;
	}
	&__img {
		display: none;
		@media (max-width: 767px) {
		}
	}
	&__item {
		vertical-align: middle;
		display: table-cell;
		&:nth-child(n+2) {
			padding-left: 23px;
		}
		&:first-child {
			width: 58%;
			
		}
	}
	&__count {
		input {
			margin: 0;
			border: none !important;
			background-color: transparent !important;
			width: auto;
			display: inline-block;
			vertical-align: baseline;
			
			appearance: none;
			padding: 0;
			width: 19px;
			&:hover {
				
			}
		}
		.plus,.minus {
			margin: 0 10px;
		}
	}
	&__action {
		text-align: right;
		margin-bottom: 20px;
	}
	&__price {
		font-size: 30px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
		letter-spacing: 0.05em;
	}
	&__btn {
		display: inline-block;
		vertical-align: middle;
		.btn {
			margin-left: 17px;
			+ .btn {
				margin-left: 20px;
			}
		}
	}
	&__total {
		display: none;
	}
	@media (max-width: 1200px) {
	    &__row {
	    	font-size: 16px;
	    }
	    &__item {
	    	white-space: nowrap;
	    	
	    	&:first-child {
	    		width: 50%;
	    		white-space: normal;
	    		
	    	}
	    }
	    &__price {
	    	font-size: 24px;
	    }
	}
	@media (max-width: 767px) {
		&__line {
			margin-bottom: 25px;
		}
	    &__row {
	    	font-size: 12px;
	    	margin-bottom: 10px;
	    	display: block;
	    	overflow: hidden;
	    	width: auto;
	    	
	    	// text-align: center;
	    	// border-bottom: 1px solid rgba(#000, .1);
	    }
	    &__img {
		    display: block;
		    float: left;
		    margin-right: 30px;
	    	width: 40%;
	    }
	    &__item {
	    	white-space: nowrap;
	    	width: auto;
	    	display: block;
	    	margin-bottom: 10px;
	    	display: inline-block;
	    	
	    	// overflow: hidden;
	    	
	    	&:first-child {
	    		width: auto;
	    		white-space: normal;
	    		
	    	}
	    	&:nth-child(n+2) {
	    		padding-left: 0;
	    	}
	    	&:last-child {
	    		display: none;
	    		
	    	}
	    }
	    &__action {
	    	text-align: left;
	    	
	    }
	    &__count {
	    	.plus,.minus {
	    		margin: 0 5px;
	    	}
	    }
	    &__price {
	    	font-size: 18px;
	    	display: block;
	    	margin-bottom: 8px;
	    	margin-right: 0;
	    	margin-bottom: 15px;
	    }
	    &__btn {
	    	.btn {
	    		font-size: 11px;
	    		margin-left: 0;
	    		margin-bottom: 8px;
	    		margin-right: 5px;
	    		+ .btn {
	    			margin-left: 0;
	    		}
	    	}
	    }
		&__total {
			display: inline-block;
			margin-right: 10px;
		}
		.modal-footer {
			padding-left: 0;
		}
	}
}
.plus {}
.minus {}
.modal-footer {}
.btn {}
.btn_next {}
.btn_warning {}


