extends template.jade

block variables
	-var pageClass = "";

block title
	title Catalog

block content
	.container_center
		.productTitle
			.productTitle__logoWrap
				.productTitle__logo
					img(src="img/BMW-logo.png", alt="")
				.productTitle__preview
					img(src="img/bmv-car.png", alt="")
			.productTitle__nameWrap
				.breadcrumb
					a.breadcrumb__link(href="#") Каталог чехлов
					.breadcrumb__sep
					a.breadcrumb__link(href="#") BMW
				h1.productTitle__name Автомобильные чехлы BMW 1 
		.productFilter
			.productFilter__item.productFilter__item_mob
				.productFilter__drop
					span Автомобиль
				.productDrop.productDrop_full
					.productDrop__list
						-var i1 = 16;
						-for (var i = 0; i < i1; i++) {
							.productDrop__item
								.productDrop__img
									img(src="img/marka1.png", alt="")
								a.productDrop__link(href="#") Audi
							.productDrop__item
								.productDrop__img
									img(src="img/marka2.png", alt="")
								a.productDrop__link(href="#") BMW
						-};

			.productFilter__item.productFilter__item_mob
				.productFilter__drop
					span Модель
				.productDrop.productDrop_full
					.productDrop__list
						-var i1 = 3;
						-for (var i = 0; i < i1; i++) {
							.productDrop__item
								.productDrop__img
									img(src="img/model1.png", alt="")
								a.productDrop__link(href="#") BMW 1 series 2018, хетчбек
							.productDrop__item
								.productDrop__img
									img(src="img/model2.png", alt="")
								a.productDrop__link(href="#") BMW X series 2018
						-};

			.productFilter__item.productFilter__item_mob
				.productFilter__drop
					span Поколение
				.productDrop.productDrop_full
					.productDrop__list
						-var i1 = 2;
						-for (var i = 0; i < i1; i++) {
							.productDrop__item
								.productDrop__img
									img(src="img/ganerate1.png", alt="")
								a.productDrop__link(href="#") BMW 5 серия Е-39 седан
							.productDrop__item
								.productDrop__img
									img(src="img/ganerate2.png", alt="")
								a.productDrop__link(href="#") BMW 5 серия Е-34 седан
						-};

			.productFilter__item.productFilter__item_mob
				.productFilter__drop
					span Год от
				.productDrop
					.productDrop__list.productDrop__list_line
						.productDrop__item
							a.productDrop__link(href="#") 1981
						.productDrop__item
							a.productDrop__link(href="#") 1982
						.productDrop__item
							a.productDrop__link(href="#") 1983

			.productFilter__item.productFilter__item_mob
				.productFilter__drop
					span Кузов
				.productDrop
					.productDrop__list.productDrop__list_line
						.productDrop__item
							a.productDrop__link(href="#") Седан
						.productDrop__item
							a.productDrop__link(href="#") Универсал
						.productDrop__item
							a.productDrop__link(href="#") Купе

			.productFilter__item.productFilter__item_mob
				.productFilter__drop
					span Производитель
				.productDrop.productDrop_full
					.productDrop__list
						-var i1 = 6;
						-for (var i = 0; i < i1; i++) {
							.productDrop__item
								.productDrop__img
									img(src="img/model1.png", alt="")
								a.productDrop__link(href="#") BMW 1 series 2018, хетчбек
							.productDrop__item
								.productDrop__img
									img(src="img/model2.png", alt="")
								a.productDrop__link(href="#") BMW X series 2018
						-};

			.productFilter__item.productFilter__item_mob
				.productFilter__drop
					span Материал
				.productDrop
					.productDrop__list.productDrop__list_line
						.productDrop__item
							a.productDrop__link(href="#") Ткань
						.productDrop__item
							a.productDrop__link(href="#") Кожа
						.productDrop__item
							a.productDrop__link(href="#") Мех

			.productFilter__item.productFilter__item_mob
				.productFilter__drop
					span Цвет
				.productDrop
					.productDrop__list
						.productDrop__item
							.productDrop__img
								img(src="img/marka1.png", alt="")
							.productDrop__link 

			.productFilter__item
				.productFilter__drop
					span Сортировка
				.productDrop
					.productDrop__list.productDrop__list_line
						.productDrop__item
							a.productDrop__link(href="#") Популярные
						.productDrop__item
							a.productDrop__link(href="#") Дешевле
						.productDrop__item
							a.productDrop__link(href="#") Дороже

			.productFilter__item
				.productFilter__check
					input(type="checkbox" id="ch1") 
					label(for="ch1")
						|В наличии

		.catalog__list
			- var plate = 9;
			- var col = 3;
			include block/product.jade

			.viewMore
				a.viewMore__link.mobileHide(href="#") Смотреть еще
				a.mobileVisible.btn.btn_contrast(href="") показать еще
				// begin pagination 
				ul.pagination
					li
						a(href="#").active 1
					li
						a(href="#") 2
					li
						a(href="#") 3
					li
						a(href="#") 4
					li
						a(href="#") 5
					li
						a(href="#") 6
					li
						a(href="#") 7
					li
						a(href="#") 8
					li
						a(href="#") 9
					li
						a(href="#") 0
					li
						a(href="#") ....
					li
						a(href="#") 99
					li.prev
						a(href="#")
					li.next
						a(href="#")
				// end pagination 
				

		h2.title.title__line.mobileHide Как заказать

		.howOrder.mobileHide
			.howOrder__grid.grid
				.howOrder__item.howOrder__item_lineRed
					.howOrder__img
						img(src="img/zayavka_online.svg", alt="")
					.howOrder__text Сделайте заявку на сайте или по другим контактам
				.howOrder__item.howOrder__item_lineRed
					.howOrder__img
						img(src="img/soglasovanie.svg", alt="")
					.howOrder__text С Вами согласуют удобный Вам вариант доставки
				.howOrder__item.howOrder__item_lineRed
					.howOrder__img
						img(src="img/otpracka.svg", alt="")
					.howOrder__text Отправка на следующий день
				.howOrder__item.howOrder__item_lineRed
					.howOrder__img
						img(src="img/sms_o_dostavke.svg", alt="")
					.howOrder__text Получаете СМС о приходе товара и забираете заказ

		include block/delivery.jade

		h2.title.title__line.mobileHide Профессиональная установка чехлов Ауди А4

		.howOrder.mobileHide
			.howOrder__grid.grid
				.howOrder__item.howOrder__item_lineNone
					.howOrder__img
						img(src="img/install_1.svg", alt="")
					.howOrder__title Установка в нашем установочном центре в Москве
					.howOrder__text ул. Южнопортовая д.15 стр. 1
					.howOrder__text 
						span 1000 
						| р
				.howOrder__item.howOrder__item_lineNone
					.howOrder__img
						img(src="img/install_2.svg", alt="")
					.howOrder__title Установка с выездом по Москве
					.howOrder__text 
						span 2000 
						| р
				.howOrder__item.howOrder__item_lineNone
					.howOrder__img
						img(src="img/install_3.svg", alt="")
					.howOrder__title Установка с подшивкой чехлов к сиденьям
					.howOrder__text ул. Южнопортовая д.15 стр. 1
					.howOrder__text 
						span 3500 
						| р
				.howOrder__item.howOrder__item_lineNone
					.howOrder__img
						img(src="img/install_4.svg", alt="")
					.howOrder__title Установка с подшивкой чехлов к сиденьям с выездом
					.howOrder__text 
						span 4000 
						| р
				
		h2.title.title__line.mobileHide Вы смотрели
		.mobileHide
			- var plate = 4;
			- var col = 4;
			include block/product.jade

		.viewMore
			a.viewMore__link.mobileHide(href="#") Смотреть еще

		.mobileHide
			include block/aboutFur.jade

		.productFilter__btn
			button.btn.btn_contrast.js_show_nav Фильтры



