extends template.jade

block variables
	-var pageClass = "";

block title
	title individual

block content
	.container_center
		a.backLink(href="shop.html") Смотреть каталог

		h2.title.title__line Индивидуальный пошив<br>автомобильных чехлов

		.individual
			.individual__titleCont
				.individual__title АвтоМакс
			.individual__body
				.individual__col
					p Производственное объединение автомакс принимает к пошиву изделия на основании своих лекал, при пошиве используются полиуретановая экокожа толщиной 1 мм триплированная паролоном 3 мм, специальной износостойкой серии на тканевой подкладке.
					p Середина чехла делается на выбор из перфорированной экокожи, алькантары, жакарда.
					a(href="#").individual__btn.mobileHide Заказать пошив в Автомаксе
				.individual__col
					ul.individual__list
						li Основная особенность качественные лекала, двойная строчка.
						li Сроки изготовления от 1 до 7 рабочих дней.
						li В наличии ограниченное число лекал, только на самые популярные модели автомобилей.
						li Наценка на индивидуальный пошив 700 рублей.
						li Доступные цвета, черный, серый, коричневый, оранжевый, красный, синий, белый, бежевый.
						li Средняя стоимость комплекта 4900 р
					a(href="#").individual__btn.mobileVisible Заказать пошив в Автомаксе

		.individual
			.individual__titleCont
				.individual__title Автолидер
				img(src="img/autolider.png", alt="")
			.individual__body
				.individual__col
					p Компания имеет очень обширный выбор автомобильных лекал, охватывает практически весь российский рынок. При пошиве используются экокожа различного качетва от 0.8 до 1.2 мм толщиной, в зависимости от выбранного качества триплированная паролоном 3 мм.
					p Середина чехла делается на выбор из перфорированной экокожи, алькантары, жакарда, льна, брезента, экокожи простроченной в ромб.
					a(href="#").individual__btn.mobileHide Заказать пошив в Автолидере
				.individual__col
					ul.individual__list
						li Основная особенность большой выбор материалов, и широкий охват автомобилей
						li Сроки изготовления от 14 до30 рабочих дней. 
						li В наличии ограниченное число лекал, только на самые популярные модели автомобилей.
						li Наценка на индивидуальный пошив 700 рублей.
						li Доступные цвета, черный, серый, коричневый, оранжевый, красный, синий, белый, бежевый.
						li Средняя стоимость комплекта от 5900 до 8900 р
					a(href="#").individual__btn.mobileVisible Заказать пошив в Автолидере

		.individual
			.individual__titleCont
				.individual__title Автопилот
				img(src="img/autopilot.png", alt="").mobileHide
				img(src="img/autopilot_mobile.png", alt="").mobileVisibleInline
			.individual__body
				.individual__col
					p Старейший российский производитель автомобильны чехлов.
					p Принимает к пошиву изделия на основании своих лекал. Компания имеет очень обширный выбор автомобильных лекал, охватывает практически весь российский рынок. , при пошиве используются полиуретановая экокожа толщиной 1.2 мм триплированная паролоном 3 мм, специальной износостойкой серии на тканевой подкладке.
					p Середина чехла делается на выбор из перфорированной экокожи, алькантары, жакарда, экокожи простроченной в ромб.
					a(href="#").individual__btn.mobileHide Заказать пошив в Автопилоте
				.individual__col
					ul.individual__list
						li Основная особенность большой выбор материалов, и широкий охват автомобилей, самый качественный материал
						li Сроки изготовления от 14 до30 рабочих дней. 
						li В наличии ограниченное число лекал, только на самые популярные модели автомобилей.
						li Наценка на индивидуальный пошив 700 рублей.
						li Доступные цвета, черный, серый, коричневый, оранжевый, красный, синий, белый, бежевый.
						li Средняя стоимость комплекта от 6900 до 8900 р
					a(href="#").individual__btn.mobileVisible Заказать пошив в Автопилоте

		.typoText
			p Пошив выполняется на следующий рабочий день полсе оплаты заказа, к предоплате принимаются банковские карты и безналичная оплата по реквизитам.
			p Отгрузка осуществляется в течении 1-2 рабочих дней после изготовления заказа.

		.mobileHide
			h2.title.title__line Вы смотрели
			- var plate = 4;
			- var col = 4;
			include block/product.jade

		.viewMore.mobileHide
				a.viewMore__link(href="#") Смотреть еще

		.mobileVisible
			include block/delivery.jade
