extends template.jade

block variables
	-var pageClass = "";

block title
	title Установка

block content
	.container_center
		a.backLink(href="shop.html") Смотреть каталог


		h2.title.title__line Профессиональная установка чехлов
		.install.grid
			.install__item
				.install__img
					img(src="img/install_1.svg", alt="")
				.install__name Установка в нашем установочном центре в Москве
				.install__adress ул. Южнопортовая <br>д.15 стр. 1
				.install__price
					b 1000 
					|p
			.install__item
				.install__img
					img(src="img/install_2.svg", alt="")
				.install__name Установка с выездом по Москве
				.install__price
					b 2000 
					|p
			.install__item
				.install__img
					img(src="img/install_3.svg", alt="")
				.install__name Установка с подшивкой чехлов к сиденьям
				.install__adress ул. Южнопортовая <br>д.15 стр. 1
				.install__price
					b 3500 
					|p
			.install__item
				.install__img
					img(src="img/install_4.svg", alt="")
				.install__name Установка с подшивкой чехлов к сиденьям с выездом
				.install__price
					b 4000 
					|p

		.sales
			.sales__grid.grid
				.sales__item
					.sales__title Акция
					ul
						li 2 комплекта <b>7% скидка</b>
						li 3 комплекта <b>скидка 10%</b>
						li 5 комплектов <b>скидка 15%</b>
					p.
						Время экономить, объединяйтесь. <br>
						+ бесплатная доставка по Москве
				.sales__item.sales__item_danger
					.sales__title Горячее предложение
					p.
						Комбинированные модельные чехлы <br>
						Экокожа с жакардом, <br>
						<b>от 2390 р</b> за комплект
				.sales__item
					.sales__title Акция
					p.
						Индивидуальный пошив <br>от 7 дней
					p.
						Доплата <b>700 р</b>

		// begin accordeon
		.accordeon
			h2.title.title__line Вопросы и ответы
			.accordeon__item
				span Даете ли вы гарантию?
			.accordeon__element
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст.
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
			.accordeon__item
				span Какой срок службы накидки?
			.accordeon__element
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст.
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
			.accordeon__item
				span Где расположено производство?
			.accordeon__element
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст.
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
			.accordeon__item
				span Есть ли сертификаты?
			.accordeon__element
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст.
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
			.accordeon__item 
				span Могу ли я сделать возврат или обмен товара?
			.accordeon__element
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст.
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
		// end accordeon

		.mobileHide
			h2.title.title__line Вы смотрели
			- var plate = 4;
			- var col = 4;
			include block/product.jade

		.viewMore.textCenterMobile.mobileHide
				a.viewMore__link(href="#") Смотреть еще