extends template.jade

block variables
	-var pageClass = "";

block title
	title Оплата заказа

block content
	.container_center
		a.backLink(href="shop.html") Смотреть каталог

		h2.title.title__line Оплата заказа
		.payment__body
			.paymentItem
				.paymentItem__title Оплата наличными
				.paymentItem__text при получении в пунке выдачи или крурьеру
			.paymentItem
				.paymentItem__title Оплата банковской картой
				.paymentItem__text при получении или при оформлении заказа
			.paymentItem
				.paymentItem__title Оплата по квитанции
				.paymentItem__text в любом отделении банка или через клиент банк
				a(href="#").paymentItem__link Cкачать квитанцию
			.paymentItem
				.paymentItem__title Оплата с расчетного счета организации
				.paymentItem__text Полный пакет бухгалтерских документов, договор
				a(href="#").paymentItem__link Cкачать квитанцию

		.sales
			.sales__grid.grid
				.sales__item
					.sales__title Акция
					ul
						li 2 комплекта <b>7% скидка</b>
						li 3 комплекта <b>скидка 10%</b>
						li 5 комплектов <b>скидка 15%</b>
					p.
						Время экономить, объединяйтесь. <br>
						+ бесплатная доставка по Москве
				.sales__item.sales__item_danger
					.sales__title Горячее предложение
					p.
						Комбинированные модельные чехлы <br>
						Экокожа с жакардом, <br>
						<b>от 2390 р</b> за комплект
				.sales__item
					.sales__title Акция
					p.
						Индивидуальный пошив <br>от 7 дней
					p.
						Доплата <b>700 р</b>

		// begin accordeon
		.accordeon
			h2.title.title__line Вопросы и ответы
			.accordeon__item
				span Даете ли вы гарантию?
			.accordeon__element
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст.
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
			.accordeon__item
				span Какой срок службы накидки?
			.accordeon__element
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст.
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
			.accordeon__item
				span Где расположено производство?
			.accordeon__element
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст.
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
			.accordeon__item
				span Есть ли сертификаты?
			.accordeon__element
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст.
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
			.accordeon__item 
				span Могу ли я сделать возврат или обмен товара?
			.accordeon__element
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
					текст текст текст текстм текст текст текст текст текст текст текст текст текст.
				p.accordeon__text.
					Текст текст текст текст текстм текст текст текст текст текст текст текст текст текст текст текст.
		// end accordeon

		.mobileHide
			h2.title.title__line Вы смотрели
			- var plate = 4;
			- var col = 4;
			include block/product.jade

		.viewMore.textCenterMobile.mobileHide
				a.viewMore__link(href="#") Смотреть еще

		.mobileVisible
			include block/delivery.jade