.backLink {
	@extend %link;
	position: relative;
	font-size: 20px;
	letter-spacing: .01em;
	display: inline-block;
	margin-top: -9px;
	margin-bottom: 39px;
	color: $main_color;
	&.hideMobile {
		@media (max-width: 767px) {
		  display: none;
		}
	}
	&:before {
		content: '';
		width: 80px;
		height: 1px;
		background-color: #ec3438;
		position: absolute;
		top: 57%;
		left: -102px;
	}
	@media (max-width: 767px) {
	    top: -50px;
	    font-size: 11px;
	    letter-spacing: 0.1em;
	    margin-bottom: 6px;
	    &:before {
	    	left: -91px;
	    	top: 50%;
	    }
	}
}
