.deliveryGrid {
	align-items: center;
	font-size: 0;
	margin-left: -20px;
	letter-spacing: -1px;
	margin-top: 0;
	margin-bottom: 15px;
	@media (min-width: 768px) {
		margin-left: -45px;
		margin-top: 70px;
		margin-bottom: 120px;
	}
	&__item {
		padding-left: 20px;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 20px;
		@media (min-width: 768px) {
			padding-left: 45px;
			margin-bottom: 40px;
		}
	}
	&__action {
		margin-bottom: 70px;
		@media (min-width: 768px) {
			margin-bottom: 150px;
			.deliveryComp__link {
				margin-right: 60px;
			}
		}
	}
	@media (max-width: 767px) {
		&__item {
		    width: 33.3%;
		}
	}
}
