.productDrop {
	display: none;
	position: absolute;
	max-width: 100%;
	background-color: #fff;
	border: 1px solid #b8b8b8;
	z-index: 10;
	margin-top: -1px;
	min-width: 18.75%;
	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	display: block;
	// 	width: 18.8%;
	// 	height: 3px;
	// 	background-color: #fff;
	// 	top: -1px;
	// 	left: 0;
	// }
	@media (min-width: 768px) {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
	@media (max-width: 991px) {
	    min-width: 23%;
	}
	@media (max-width: 767px) {
	    min-width: 50%;
	}
	&_full {
		// width: 100%;
		left: 14px;
		right: 0;
	}
	&_two {
		max-width: 500px;
		.productDrop__item {
			width: 50%;
		}

	}
	&_right {
		right: 0;
		@media (max-width: 991px) {
			right: auto;
			left: 14px;
		}
	}
	&.open {
		display: block;
	}
	&_three {
		.productDrop__item {
			float: left;
			width: 33%;
		}
		.btn {
			display: block;
			max-width: 200px;
			margin-left: auto;
			margin-top: 30px;
			margin-right: 10px;
			margin-bottom: 0 !important;
		}
	}
	&_color {
		max-width: 600px;
		input[type=checkbox] {
			display: none !important;
			&:checked {
				+ label {
					background-image: url(../img/check.png);
					background-size: 17px 15px;
					background-position: center;
					background-repeat: no-repeat;
				}
			}
		}
		label {
			float: left;
			&:nth-child(2) {
				width: 30px;
				height: 30px;
				border: 1px solid #ccc;
				border-radius: 50%;
			}
			&:nth-child(3) {
				padding-top: 5px;
				margin-left: 10px;
			}
		}
		.btn {
			display: block;
			max-width: 200px;
			margin-left: auto;
			margin-right: 10px;
			margin-top: 30px;
			margin-bottom: 0 !important;
		}
		.productDrop__item {
			width: 33%;
			&:nth-child(1) {
				label {
					&:nth-child(2) {
						background-color: #F0DAB1;
					}
				}
			}
			&:nth-child(2) {
				label {
					&:nth-child(2) {
						background-color: #006300;
					}
				}
			}
			&:nth-child(3) {
				label {
					&:nth-child(2) {
						background-color: #9A9A9A;
					}
				}
			}
			&:nth-child(4) {
				input[type=checkbox] {
					&:checked {
						+ label {
							background-image: url(../img/check-black.png);
						}
					}
				}
				label {
					&:nth-child(2) {
						background-color: #fff;
					}
				}
			}
			&:nth-child(5) {
				label {
					&:nth-child(2) {
						background-color: #765136;
					}
				}
			}
			&:nth-child(6) {
				label {
					&:nth-child(2) {
						background-color: #364EF0;
					}
				}
			}
			&:nth-child(7) {
				label {
					&:nth-child(2) {
						background-color: #F7F214;
					}
				}
			}
			&:nth-child(8) {
				label {
					&:nth-child(2) {
						background-color: #C71630;
					}
				}
			}
			&:nth-child(9) {
				label {
					&:nth-child(2) {
						background-color: #000;
					}
				}
			}
			&:nth-child(10) {
				label {
					&:nth-child(2) {
						background-color: #3C982B;
					}
				}
			}
			&:nth-child(11) {
				label {
					&:nth-child(2) {
						background-color: #E34D32;
					}
				}
			}
		}
		@media (max-width: 991px) {
			text-align: center;
			input[type="checkbox"] {
				float: none;
			}
			label {
				display: inline-block;
				float: none;
				width: 100%;
				&:nth-child(3) {
					margin-left: 0;
				}
			}
		}
	}
	&__list {
		// margin-left: -30px;
		&:not(.productDrop__list_line) {
			@include flex();

			// justify-content: space-between;
			text-align: center;
			// @include browser("not-flex") {
			// 	text-align: justify;
			// 	&:after {
			// 		content: '';
			// 		display: inline-block;
			// 		width: 100%;
			// 	}
			// 	> div {
			// 		text-align: center;
			// 	}
			// }
		}
	}
	&__item {
		padding: 17px 24px 20px;
		text-decoration: none;
		vertical-align: top;
	}
	.btn {
		width: 100%;
		margin-bottom: -10px;
	}
	&__img {
		margin-bottom: 10px;
	}
	&__link {
		@extend %link;
		&:hover {
			color: #ec3438;
			border-bottom-color: transparent;
			
		}
	}
	&__check {
		@extend %clear_a;
		input[type=checkbox] {
			float: left;
			margin-right: 9px;
			display: inline-block;
			margin-top: -1px;
			width: 1.5em;
			height: 1.5em;
			border-radius: 0.2em;
			&:checked {
				background-color: $color_danger;
				border-color: $color_danger;
				&:before {
					line-height: 0.8;
					color: #fff;
					font-size: 1.7em;
				}
			}
			@media (max-width: 767px) {
				width: 1.1em;
				height: 1.1em;
				border-radius: 0.1em;
				&:checked {
					&:before {
						font-size: 1.3em;
					}
				}
			}
		}
		label {
			display: block;
			overflow: hidden;
			cursor: pointer;
		}
	}
	@media (max-width: 767px) {
	    &__item {
	    	font-size: 12px;
	    	padding: 10px 17px 15px;
	    }
	    .btn {
	    	font-size: 12px;
	    	width: 50%;
	    	margin: 10px;
	    	// margin-bottom: 10px;
	    }
	}
}
