.shopItem {
	max-width: 1447px;
	&__top {
		margin-bottom: 82px;
		@media (min-width: 1200px) {
		    margin-top: -87px;
		}
		@extend %clear_a;
		&:after {
			width: 100%;
		}
	}
	&__info {
		width: 50%;
		overflow: hidden;
	}
	&__title {
		margin-top: -0.25em;
		font-weight: 900;
		font-size: 50px;
		max-width: 532px;
		margin-bottom: 31px;
	}
	&__detail {
		list-style: none;
		padding: 0;
		margin: 0 0 60px;
		&Item {
			margin-bottom: 9px;
			letter-spacing: 0.1em;
		}
		&_grey {
  		color: #a5a5a5;
  	}
	}
	&__order {
		margin-bottom: 15px;
		@extend %clear_a;
	}
	&__price {
		font-size: 40px;
		letter-spacing: 0.11em;
		float: left;
		margin-bottom: 15px;
		margin-right: 38px;
		.rub {
			font-size: 23px;
			display: inline-block;
			// margin-left: -2px;
		}
	}
	&__count {
		font-size: 20px;
		// padding-left: 4px;
		letter-spacing: 0.04em;
		padding: 12px;
		&Rezult {
			display: inline-block;
			vertical-align: middle;
			// padding-left: 2px;
			margin-right: 17px;
		}
	}
	&__plus,&__minus {
		width: 27px;
		height: 27px;
		// background-color: #efefef;
		border-radius: 50%;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		margin-right: -1px;
		// margin-top: 5px;
		// &:before,&:after {
		// 	content: '';
		// 	width: 14px;
		// 	height: 1px;
		// 	background-color: #5d5d5d;
		// 	position: absolute;
		// 	top: 50%;
		// 	left: 7px;
		// }
		// &:before {
		// }
		
	}
	&__plus {
		&:after {
			transform: rotate(90deg);
		}
	}
	&__check {
    display: inline-block;
    height: 27px;
    margin-left: 20px;
    font-size: 15px;
    color: #63913e;
    letter-spacing: 1.5px;
    span {
    	margin-left: 10px;
    }
	}
	&__action {
		.btn {
			padding: 16px 65px;
		}
	}
	&__description {
		line-height: 1.8;
		max-width: 1239px;
		padding-bottom: 17px;
		position: relative;
		font-size: 14px;
		// margin-bottom: 46px;
		// &:after {
		// 	content: '';
		// 	position: absolute;
		// 	border-bottom: 1px solid rgba(#5d5d5d, .2);
		// 	display: block;
		// 	bottom: 0;
		// 	left: 0;
		// 	width: 32%;
		// }
		p {
			letter-spacing: 0.11em;
			margin: 27px 0;
			&.hide {
				display: none;
			}
		}
	}
	&__grid {
		// margin-bottom: -59px;
		> div {
			margin-bottom: 0;
		}
		.shopItem__detail {
			padding: 45px 0;
			margin-bottom: 0;
		}
	}
	&__sale {
		border: 1px solid rgba(#5d5d5d, 0.6);
		padding: 36px 51px;
		line-height: 1.8;
		max-width: 529px;
		letter-spacing: .1em;
		&Ttile {
			font-weight: 900;
			font-size: 20px;
			margin-bottom: 23px;
			letter-spacing: 0em;
		}
	}
	&__table {
		max-width: 500px;
		margin-bottom: 70px;
		&:after {
			content: '';
			display: table;
			clear: both;
			width: 100%;
		}
	}
	&__cell {
		float: left;
		width: 50%;
	}
	&__tabs {
		padding-left: 0;
    list-style: none;
    li {
      display: inline-block;
	    margin-right: 80px;
	    padding-bottom: 10px;
	    border-bottom: 1px solid transparent;
	    text-transform: uppercase;
	    letter-spacing: 2.8px;
	    cursor: pointer;
	    transition: .3s;
    }
	}
	@media (max-width: 991px) {
	    &__title {
	    	font-size: 30px;
	    	margin-bottom: 25px;
	    }
	    &__detail {
	    	margin-bottom: 20px;
	    	&Item {
	    		font-size: 14px;
	    	}
	    }
	}

	@media (max-width: 767px) {
		&__top {
			margin-bottom: 41px;
		}
		&__detail {
			margin-bottom: 20px;
			&Item {
				font-size: 11px;
				margin-bottom: 20px;
			}
		}
	    &__info {
	    	overflow: initial;
	    	width: auto;
	    }
	    &__title {
	    	font-size: 20px;
	    	margin-bottom: 36px;
	    }
		&__price {
			font-size: 24px;
			margin-right: 29px;
			.rub {
				font-size: 12px;
			}
		}
		&__order {
			margin-bottom: 12px;
		}
		&__count {
			margin-bottom: 20px;
			font-size: 12px;
			padding: 8px;
		}
		&__plus,&__minus {
			width: 16px;
			height: 16px;
			margin-right: 13px;
			&:before,&:after {
				width: 7px;
				left: 5px;
			}
			&:before {
			}
			&:after {
			}
		}
		&__action {
			// display: none;
			// transition: .3s;
			// bottom: 100%;
			text-align: center;
			margin-bottom: 10px;
			.btn {
				transition: .3s;
				font-size: 12px;
				padding: 12px 35px;
				margin-bottom: 20px;
				background-color: #ec3438;
			    border-color: #ec3438;
			    color: #ffffff;
			}
			&.is_stuck {
				// top: auto !important;
				// bottom: 0 !important;
				z-index: 50;
				+ div {
					// height: 0 !important;
				}
				.btn {
					// width: 80%;
					margin-bottom: 0px;

				}
			}
		}
		&__description {
			font-size: 11px;
			line-height: 1.4;
			padding-bottom: 16px;
			margin-bottom: 30px;
			&:after {
				width: 66%;
			}
			p {
				letter-spacing: 0.1em;
				margin: 14px 0;
			}
		}
		&__grid {
			> div {
				width: 100%;
			}
			.shopItem__detail {
				padding: 0 0 40px;
				&Item {
					margin-bottom: 2px;
				}
			}
		}
		&__sale {
			padding: 21px 23px;
			font-size: 10px;
			line-height: 1.4;
			margin-bottom: 37px;
			&Ttile {
				font-size: 13px;
				line-height: 1.27;
				margin-bottom: 9px;
			}
		}
	}
}
