.shopSlider {
	&__wrap {
		width: 43%;
		margin-right: 2%;
		position: relative;
		float: left;
		padding-bottom: 0%;
		margin-bottom: 40px;
		@media (min-width: 768px) {
			padding-left: 90px;
		}		
	}
	&__item {
		width: 100%;
		img {
			width: 100%;
		}
	}
	@media (max-width: 767px) {
		&__wrap {		
		    width: auto;
		    float: none;
		    margin-right: -34px;
		    margin-left: -34px;
		    margin-bottom: 59px;
		}
	}
}
