// begin Мобильное меню 
.mobileNav
	.mobileNav__wrap
		.mobileNav__title Каталог товаров
		// begin mobileNav__filter 
		.mobileNav__filter
			
		// end mobileNav__filter
		// begin mobileNav__list 
		ul.mobileNav__list
			li.mobileNav__item
				a.mobileNav__link(href="#") Установка
			li.mobileNav__item
				a.mobileNav__link(href="#") Индивидуальный пошив
			
		ul.mobileNav__list
			li.mobileNav__item
				a.mobileNav__link(href="#") Доставка
			li.mobileNav__item
				a.mobileNav__link(href="#") Оплата
			li.mobileNav__item
				a.mobileNav__link(href="#") Где купить
			
		ul.mobileNav__list
			li.mobileNav__item
				a.mobileNav__link(href="#") Гарантии и возврат
			li.mobileNav__item
				a.mobileNav__link(href="#") Как сделать заказ
			
		// end mobileNav__list 

		.mobileNav__foot
			.mobileNav__footItem
				a.mobileNav__footLink(href="#") Политика конфиденциальности
			.mobileNav__footItem
				a.mobileNav__footLink(href="#") Положение об обработке персональных данных
	
// end Мобильное меню 